
.flex-imagenes{
    border: 1px solid rgb(39, 38, 38);
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}


h2{
    display: flex;
    justify-content: center;
    color: teal;
}