
.flex-imagenes{
    border: 1px solid rgb(39, 38, 38);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}


h2{
    color: teal;
    text-align: center;
    letter-spacing: 10px;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgb(4, 226, 238);
}

.pelicula:hover {
    /* Agrandar un poco el elemento al pasar el ratón por encima */
    transform: scale(1.1);
    /* Añadir sombra más pronunciada al pasar el ratón por encima */
    box-shadow: 0 20px 40px rgba(0, 183, 255, 0.6);
  }