.contacto{
    grid-area: registro;
    width: 100%;
      display: grid;
      place-items: center;
}


.contacto form {
    width: 90%;
    max-width: 500px;
  }

.contacto  input, label {
    display: block;
    margin-bottom: 10px;
  }

.contacto  input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }

.contacto  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

.contacto input[type="submit"]:hover {
    background-color: #0056b3;
  }

.datos-contacto{
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.datos-contacto p {
  color: white;
}