body{
    background-color: rgb(45, 44, 44);
}
.gallery {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .gallery h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200%;
  }
  
  .gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .gallery img:hover {
    border-color: #555;
    transform: scale(1.05);
  }
  
/*
  h6{
    position: relative; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); /* Black see-through 
    color: #f1f1f1; 
    width: 100%;
    transition: 1.5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.gallery:hover h6 {
    opacity: 1;
  }*/