.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  height: 100vh; /* Ajusta la altura del grid al tamaño de la ventana */
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  max-height: calc(100vh - 100px); /* Ajusta la altura máxima considerando el header y el footer */
  overflow-y: auto; /* Habilita el scrollbar vertical */
  background-color: #f0f0f0;
  padding: 1rem;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
